<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Count The Miles | <%= typeof title !=='undefined' ? title: "Welcome" %>
  </title>
  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/styles/utils.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/navigation.css" />
  <link rel="stylesheet" href="/styles/cards.css" />
  <% const headerFallback="https://images.unsplash.com/photo-1474552226712-ac0f0961a954" %>
    <% const imageForHeader=typeof img !=='undefined' ? img : headerFallback %>
</head>

<body>
  <nav class="global-navigation">
    <img class="nav-brand-icon" src="/images/logo.png" alt="CTM-brand-icon">
    <a class="nav-link" href="/rides">View Rides</a>
    <a class="nav-cta-btn" href="/rides/new">Add Ride +</a>
  </nav>

  <header class="hero-header">
    <img class="hero-header-image" src="<%=imageForHeader%>" />
    <h1>
      <%= typeof title !=='undefined' ? title: "Welcome" %>
    </h1>
  </header>
  <main class="main">