<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Count The Miles | <%= typeof title !=='undefined' ? title: "Welcome" %>
  </title>
  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/styles/utils.css" />
  <link rel="stylesheet" href="/styles/main.css" />

  <% const headerFallback="https://images.unsplash.com/photo-1474552226712-ac0f0961a954" %>
    <% const imageForHeader=typeof img !=='undefined' ? img : headerFallback %>
      <% const headerStyle=`style="background:url(${imageForHeader});" `%>
</head>

<body>
  <nav class="global-navigation">
    <div>Brand Icon</div>
    <a href="/auth/sign-in">Login</a>
    <a href="/auth/sign-up">Register</a>
    <a href="/rides">View Rides</a>
    <a href="/rides/new">Add Ride +</a>
  </nav>

  <header class="hero-header">
    <img class="hero-header-image" src="<%=imageForHeader%>" />
    <h1>
      <%= typeof title !=='undefined' ? title: "Welcome" %>
    </h1>
  </header>
  <main class="main"></main>
</body>

</html>