.main {
  flex: 1;
  background-color: var(--color-background);
}

.hero-header {
  height: 30vmin;
  min-height: 30rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.hero-header>h1 {
  filter: invert(1);
  background-color: rgba(255, 255, 255, 1);
  padding: var(--font-size-medium);
  margin-top: calc(3 * var(--font-size-medium));
  margin-left: var(--font-size-medium);
  align-self: flex-start;
}

.hero-header-image {
  position: absolute;
  width: 100%;
  z-index: -1;
  justify-self: center;
  align-self: end;
}


/* RIDE - INDEX PAGE */
/* TODO review EJS for classses - card / index for GRID layout*/

/* RIDE - EDIT PAGE */
.ride-header-preview {
  display: block;
  max-height: 10vh;
}