<%- include("../partials/head.ejs", {title: "Get Inspired - Rides Portal" }) %>
  <section class="container">
    <h2>Track Your Rides</h2>
    <div class="card-grid-group">
      <% rides.forEach(ride=> { %>
        <div class="card index-card">
          <h3>
            <%=ride._id%>
          </h3>
          <p>Lorem Ipsum</p>
          <hr />
          <a class='card-cta' href="/rides/<%=ride._id%>">Details</a>
        </div>
        <% }) %>
    </div>
  </section>

  <%- include('../partials/footer.ejs') %>